<h1>Delete contact</h1>

<form action="/contacts" method="delete">
  <label for="user_id">Enter an ID</label>
  <input type="text" name="id" id="user_id">
  <input type="submit" name="Submit">
  <%= $rolodex.find(name) %>
</form>

<p><a href="/">Return to Main Menu</a></p>
