
<h1>Main menu</h1>
<ul class="list">
	<li><a href="/contacts">view all contacts</a></li>
	<li><a href="/contacts/new">add new contacts</a></li>
</ul>

<img src="http://metroui.org.ua/images/css-logo.png" />
