
<h1>Main menu</h1>
<ul class="list">
	<li><a href="/contacts">view all contacts</a></li>
	<li><a href="/contacts/new">add new contacts</a></li>
</ul>

<!-- <img src="https://d1yn1kh78jj1rr.cloudfront.net/previews1/vector-background-with-abstract-mosaic_Gy-UAAU_.jpg" /> -->