
<h1>Main menu</h1>
<ul class="list">
	<li><a href="/contacts">view all contacts</a></li>
	<li><a href="/contacts/new">add new contacts</a></li>
</ul>

<img src="http://metroui.org.ua/images/css-logo.png" />
<img class="icon" src="http://elvex.ugr.es/image/icon/home.png" />
<img class="icon" src="http://bacagazi.org/wp-content/uploads/2012/11/icon-email.png" />
<img class="icon" src="http://www.screening.nhs.uk/images/folders/information.png" >