
<h1 class="bg-primary">Main menu</h1>
<ul>
	<li><a href="/contacts">view all contacts</a></li>
	<li><a href="/contacts/new">add new contacts</a></li>
</ul>

<!-- <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQaUG7Xrh2TnVg0rUcJq93YzxiZ2Ia8CVR-7hLR6womAaa5vlJZeQ" /> -->