<!DOCTYPE html>
<html>
  <head>
  <title><%= @crm_app_name %></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <section class="header">
    <h1>Welcome to <%= @crm_app_name %></h1>
   <!--   <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRQ1O_4084K5FNymN5nxCmtA69JnK8LlPGL_be0bVhRxqTAUsuk" /> -->
    </section>
    <div class="container"><%= yield %></div>
  </body>
</html>