<!DOCTYPE html>
<html>
  <head>
  <title><%= @crm_app_name %></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <section class="header">
    <h1>Welcome to <%= @crm_app_name %></h1>

    </section>
    <div class="container"><%= yield %></div>
  </body>
  <section class="footer">
    <h4>&copy; 2015 FX Designs</h4>
  </section>
</html>