<h1>Create New Contact</h1>

<form action="/contacts" method="post">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name">
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="notes">Notes</label>
  <input type="text" name="note" id="notes">
  <input type="submit" name="Submit">
</form>

<p><a href="/">Return to Main Menu</a></p>